[data-color="first"] {             /* Azul */
  background-color: #45AAEE;
}

[data-color="second"] {            /* Vermelho */
  background-color: #FF1010;
}

[data-color="third"] {             /* Verde */
  background-color: #76EF40;
}

[data-color="fourth"] {            /* Amarelo */
  background-color: #EBEF40;
}

.card {
    display: inline-block;
    box-sizing: border-box;
    padding: 16px;
    width: 25%;
    position: relative;
}

.wrap-card-colors {
  position: absolute;
  top: -16px;
  left: 16px;
}

.card-colors {
  display: inline-block;
  width: 32px;
  height: 32px;
  text-indent: -99999px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.5);
}
